@media screen and (max-width: 1024px) {
  .container {
    margin: 0 1rem;
  }
}


@media screen and (max-width: 850px) {
  .section__title_left {
    font-size: $h2-font-size;
  }

  .catalog {
    &__tabs {
      flex-direction: column;
    }
    
    &__tab {
      margin: 0;

      & + & {
        margin-top: 20px;
      }
    }
  }
  
}

@media screen and (max-width: 767px) {
  .header {
    &__official {
      display: none;
    }
  }

  .advantages__blocks {
    column-gap: 0;
    row-gap: 2.5rem;
    flex-wrap: wrap;
  }

  .item {
    flex: 0 1 100%;
  }

  .consultation {
    padding: 70px 0;
  }

  .feedback {
    &-card {
      flex-direction: column;
      text-align: center;
      &__title {
        margin-top: 1rem;
      }
    }
  }

  .footer {
    &__info {
      max-width: 400px;
      padding: 30px;
    }
    &__address {
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    &__phone {
      font-size: 1rem;
    }

    &__social {
      margin-top: 1rem;
    }

    &__link {
      width: 30px;
    }
  }
}

@media screen and (max-width: 575px) {

  .section {
    &__title {
      font-size: 1.5rem;

      &_left {
        font-size: 1rem;
      }
    }
  }

  .header {
    flex-direction: column;
    row-gap: 1rem;

    &__contacts {
      display: none;
    }
  }

  .promo {
    min-height: 600px;
    padding-bottom: 3.75rem;
    &__wrapper {
      align-items: center;
    }

    &__header {
      font-size: 2rem;
      text-align: center;
      line-height: 1.5;
    }

    &__subheader {
      font-size: 1.3rem;
      text-align: center;
      line-height: 1.5;
    }
    &__icon {
      font-size: 0.75rem;
    }
  }

  .advantages {
    padding: 40px 0 50px;
  }

  .consultation {
    min-height: 540px;
    padding: 50px 0;

    &__description {
      font-size: 0.875rem;
    }
  }

  .feed-form {
    width: 100%;

    input {
      margin-bottom: 10px;
    }
  }
  
  .catalog {
    padding-bottom: 50px;
  }

  .feedback {
    &__cards {
      row-gap: 40px;
      margin-top: 30px;
    }

    &-card {
      &__description {
        p + p {
          margin-top: 10px;
        }  
      
        p {
          font-size: 0.875rem;
        }
      }
    }
  }

  .button {
    &_submit {
      font-size: 14px;
    }
  }

  .modal {
    width: 90%;
    min-height: 320px;

    &__close {
      top: 5px;
      right: 5px;
      font-size: 30px;
    }

    label.error {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 460px) {
  #consultation {
    .modal__description {
      display: none;
    }
  }
}

@media screen and (max-width: 375px) {
  .button {
    &_main {
      width: 100%;
    }

    &_mini {
      width: 100px;
    }

    &_submit {
      font-size: 12px;
    }
  }

  .catalog {
    &__tab {
      width: 200px;
      height: 40px;
      font-size: 14px;
      line-height: 40px;
    }

    &-item {
      &__list {
        li {
          font-size: 12px;
        }
      }

      &__new-price {
        font-size: 16px;  
      }
    }
  }

  .feedback {
    &__cards {
      row-gap: 30px;
    }

    &-card {
      &__description {
        p {
          font-size: .75rem;
        }
      }
    }
  }

  .footer {
    &__address {
      font-size: .75rem;
    }

    &__phone {
      font-size: .875rem;
    }
  }

  .modal {
    min-height: 300px;
    &__title {
      font-size: 1rem;
    }
  }
}