@media(max-width: 1010px) {
  .container {
    width: 95%;
  }

  .promo {
    &__wrapper {
      align-items: center;
    }
  }

  .advantages {
    &__list {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      max-width: 390px;
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media(max-width: 767px) {
  .header {
    &__official {
      display: none;
    }
  }

  .title {
    &_left {
      font-size: 30px;
    }
  }

  .consultation {
    padding: 70px 0 70px 0;
  }


  // Reviews ============>
  .reviews {
    &__item {
      flex-direction: column;
      align-items: center;
    }

    &__img {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &__content {
      text-align: center;
    }
  }

  // footer 
  .footer {

    &__address {
      font-size: 14px;
    }

    &__phone {
      font-size: 14px;
    }

    &__social {
      &-item {
        margin: 0 10px;

        img {
          width: 30px;
        }
      }
    }
  }
}

@media(max-width: 575px) {
  .promo {
    &__header {
      font-size: 36px;
    }

    &__subheader {
      font-size: 18px;
    }
  }

  .title {
    &_left {
      font-size: 20px;
    }
  }

  .consultation__text {
    font-size: 18px;
  }

  // Reviews ============>
  .reviews {
    &__text {
      font-size: 12px;
      line-height: 20px;
    }
  }

  // footer 
  .footer {
    &__info {
      padding: 20px 50px;
    }
  }
}

@media(max-width: 475px) {
  .header {
    flex-direction: column;
    align-items: center;

    &__contacts {
      margin-top: 20px;
    }
  }

  .promo {
    &__wrapper {
      margin-top: 65px;
    }

    &__header {
      font-size: 22px;
    }

    &__subheader {
      font-size: 12px;
    }

    &__icons {
      flex-direction: column;
      width: 300px;
    }

    &__icon {
      max-width: 300px;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .title {
    font-size: 20px;
  }

  .advantages {
    padding-top: 50px;

    &__subtitle {
      font-size: 16px;
    }

    &__description {
      font-size: 12px;
    }
  }

  .consultation {
    min-height: auto
  }

  .consultation__text {
    font-size: 14px;
  }

  .feed-form {
    width: 287px;
  }

  // footer 

  .footer {
    display: flex;
    flex-direction: column;

    &__info {
      order: -1;
      position: initial;
      top: initial;
      left: initial;
      transform: translateX(0)
    }

    &__address {
      margin-bottom: 20px;
    }

    &__phone {
      margin-bottom: 20px;
    }
  }
}