.title {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #0D0D0D;

  &_left {
    text-align: left;
    max-width: 800px;
    margin-bottom: 8px;
    font-size: 36px;
    line-height: 1.5;
    color: #FFFFFF;
  }
}